<h2> Player 1's name is <%= @player1_name %> </h2>
<h2> Player 2's name is <%= @player2_name %> </h2>


<h3> Player 2's hit points is 40 </h3>
<progress id = "player1" value="40" max="100"></progress>
